/* One page Version */
/* body {
    padding: 8px 16px;
    line-height: 1.25;
    font-size: 13px;
}
p,a,span,strong {
    margin:0px;
}

ul {
    margin:2px 4px;
}

hr{
    margin:0px 0px 2px 0px;
    border-width: 1px;
}

h1,h2{
    margin:8px 0px 0px 0px;
    font-weight: bold;
    font-size: 16px;
}

h3 {
    font-size: 17px;
}

.small_size {
    font-size: 12px;
} */


/* Two page Version */
body {
    padding: 8px 16px;
    line-height: 1.5;
    font-size: 15px;
}
p,a,span,strong {
    margin:0px;
}

ul {
    margin:4px;
}

hr{
    margin:0px 0px 2px 0px;
    border-width: 1px;
}

h1,h2{
    margin:8px 0px 0px 0px;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}

.small_size {
    font-size: 14px;
}